@import url(https://fonts.googleapis.com/css?family=Poppins:100,%20100italic,%20200,%20200italic,%20300,%20300italic,%20400,%20400italic,%20500,%20500italic,%20600,%20600italic,%20700,%20700italic,%20800,%20800italic,%20900,%20900italic);
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

/* @media only screen and (max-resolution: 264dpi) */
@media only screen and (max-width: 1199.98px) {
    html {
        zoom: 95%;
    }
}

/* Class Generics */
.pl-0{padding-left:0!important;}
.pr-0{padding-right:0!important;}
/* End Class Generics */

body {
    margin-top: 64px;
    position: relative;
    min-height: calc(100vh - 68px);
    padding-bottom: 50px;
    font-family: "Roboto", "Open Sans", sans-serif;
    color: #989ac1;
    /* background-color: #fff; */

    overflow-y: scroll;
    overflow-x: hidden;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 0px;
    background-color: #f9f9f9;
}

body::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #207adc;
}

body.hub::-webkit-scrollbar-thumb {
    background-color: #ee7c21 !important;
}

main {
    min-height: calc(100vh - 114px);
    height: auto;
    transition: all 0.15s ease-in-out 0s;

    /*width: calc(100vw - 0px)!important;*/
    width:100% !important;

    padding-bottom: 30px;
}

@media (max-width: 418px) {
    main{
        margin-top: 110px!important;
    }
}

main.darkmode {
    background-color: #f9f9f9 !important;
}

.navbar {
    background-color: #ffffff;
    color: #207adc;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    z-index: 17;

    min-height: 64px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #207adc;
}

.navbar-brand {
    /* position: absolute;
    top: 8.5px;
    left: 50%;
    transform: translateX(-50%); */
}

@media only screen and (max-width: 1200px) {
    .navbar-brand img {
        height: 35px;
    }
}

/* Footer styles */

footer {
    position: absolute;
    background-color: #bebebe;
    color: #666666;
    width: 100%;
    bottom: 0;
    height: auto;
    left: 0;
    right: 0;
    z-index: 2;
}

i.footer-heart {
    vertical-align: middle;
    transition: 0.5s font-size cubic-bezier(0.68, -0.55, 0, 2.29);
}

i.footer-heart:hover {
    font-size: 180% !important;
}

/* End footer styles */

.invalid-feedback {
    color: red !important;
    text-align: -webkit-center;
}

.invalid-feedback::before {
    content: "*";
}

.form-control.is-invalid {
    border-color: 1px red !important;
}

.form-control.custom-select {
    height: auto !important;
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(29, 172, 214, 0.25);
}

/* Signin style */

.input-pesquisa {
    border-radius: 5px;
    width: 50vw;
    max-width: 400px;
    background-color: #ffffff;
    border: 0;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
}

.input-pesquisa::placeholder {
    color: #999fb4;
    font-size: 16px;
    font-weight: normal;
}

.box-signin {
    display: flex;
    justify-content: center;
}

.form-signin {
    background-color: #f9f9f9;
    padding: 20px;
    width: 510px;
    margin: 0 auto;
    border-radius: 10px;
}

.form-signin .form-control,
.form-signin .input-group-text {
    border: 0;
    font-size: 16px;
    background: transparent;
    color: #989eb4;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-signin>.input-group>input {
    border-bottom: 1px solid #e5e7f1;
}

.form-signin .form-control::placeholder {
    font-size: 14px;
    color: #989eb4;
}

.form-signin .signin-button {
    color: #ffffff;
    border-radius: 10px;
    outline: 0;
    border: 0;
    background-color: #207adc;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.form-signin .signin-button-google {
    display: flex;
    justify-content: flex-start;
    color: #60748a;
    border-radius: 10px;
    outline: 0;
    border: 0;
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.form-signin .signin-button-google>img {
    width: 20px;
    margin-right: 20px;
}

.signup {
    margin-top: 40px;
    text-align: center;
}

.signup>a {
    font-size: 18px;
    color: #207adc;
}

a,
.form-signin a,
.admin-box a,
a:hover {
    color: #207adc;
    text-decoration: none;
}

/* Signin style end */

/* Bookitem list */

.book-item {
    transition: 0.35s all ease-in-out;
}

.card-book {
    color: #707070;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.card-book.patrocinado {
    background-color: #ffecb8;
}

.card-book.patrocinado .capa {
    background-color: #d2caa3;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
}

.card-book .capa {
    display: inline-block;
    /* width: 35%; */
    height: 100%;
    min-height: 176px;
    /* background-color: rgb(224, 216, 178); */
    background-color: white;

    background: url(../../images/default-cover.jpg);
    /* background-size: cover; */
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.fullscreenButton {
    transition: 0.2s all ease-in-out;
}

.fullscreenButton:focus {
    outline: 0px;
}

.fullscreenButton:hover {
    opacity: 0.9;
    transform: scale(1.02);
}

/* .card-book .title
{
    max-width: 60%;
} */

.avatar-img {
    background: url("../../images/default-user.jpg");
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    border: 0px solid #207adc;
    transition: 0.5s all ease-in-out;
}

.avatar-img.avatar-sm {
    width: 36px !important;
    height: 36px !important;
}

.avatar-img.avatar-lg {
    width: 92px !important;
    height: 92px !important;
}

.avatar-img.avatar-xl {
    width: 112px !important;
    height: 112px !important;
}

.avatar.dropdown .dropdown-menu {
    left: initial;
    right: 0;
    top: 70px;
    border-radius: 10px;
    border: 0;
    box-shadow: 0px 4px 8px 0px #9a9a9a;
    padding: 4px;
    background-color: #13141d;
    color: #989ac1;
}

.avatar.dropdown .dropdown-menu .dropdown-item {
    text-align: right;
    color: #0D1033;
    border-bottom: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid #c1c1c1;
}

.avatar.dropdown .dropdown-menu .dropdown-item:last-child {
    border-bottom: 0;
    color: #ff5d5d;
}

.avatar.dropdown .dropdown-menu .dropdown-item.active,
.avatar.dropdown .dropdown-menu .dropdown-item.actived,
.avatar.dropdown .dropdown-menu .dropdown-item:active,
.avatar.dropdown .dropdown-menu .dropdown-item:hover {
    color: #ff5d5d;
    background: transparent;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #207adc;
    text-decoration: none;
    background-color: transparent;
}

.dropdown-signin-menu {
    min-width: 350px;
    right: 0px;
    left: initial;
    background: transparent;
    border: none;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #207adc;
}

.page-link {
    color: #207adc;
    border: 0px;
    border-radius: 5px;
    margin: 0px 2px;
}

main.darkmode .page-link {
    color: #7e80a2;
    background-color: transparent !important;
}

main.darkmode .page-link:hover,
.page-item.active .page-link {
    font-weight: bold;
    color: white;
    background-color: #207adc !important;
}

.page-item.active .page-link {
    background-color: #207adc;
    border-color: #207adc;
}

.page-link:hover {
    color: #ffffff;
    border: 0;
    background-color: rgba(0, 0, 0, 0.05);
}

.box-shadow {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.text-shadow {
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.text-decoration-none,
.text-decoration-none:hover {
    text-decoration: none;
}

/* Utilitarios Plus Bootstrap Style */

.font-weight-normal {
    font-weight: normal;
}

.modal-dialog.modal-full {
    max-width: 100%;
}

.modal-dialog.modal-md {
    max-width: 650px;
}

.modal-dialog.modal-xl {
    max-width: 1200px;
}

.text-wrap {
    white-space: normal;
    word-wrap: break-word;
}

/* Text colors */
.text-primary {
    color: #207adc !important;
}

.text-blue {
    color: #3464d1;
}

.text-bluegray {
    color: #60748a;
}

.text-secondary {
    color: #525870 !important;
}

a.text-primary:hover {
    color: rgb(23, 102, 189) !important;
}

a.text-secondary:hover {
    color: #d6d6d6 !important;
}

.text-secondary-placeholder::placeholder {
    color: #989eb4;
}

.text-lightgray2 {
    color: #989eb4;
}

.text-accepted {
    color: #3bc4a4;
}

.text-declined {
    color: #ff6464;
}

.text-lightgray {
    color: #ababab;
}

.text-lighter {
    color: #999fb4;
}

.text-gray {
    color: #7b7b7b;
}

.text-dark {
    color: #13141d !important;
}

.text-darker {
    color: #213245;
}

.text-shadow {
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.text-hover-danger:hover
{
    color: #dc3545 !important
}

.text-hover-primary:hover {
    color: #207adc !important;
}

/* Background colors */
.bg-primary,
.btn-primary {
    /* background-color: #207adc !important; */
    background-color: #207adc !important;
}

a.bg-primary:focus,
a.bg-primary:hover,
button.bg-primary:focus,
button.bg-primary:hover,
.btn-primary:focus,
.btn-primary:hover {
    background-color: #207adc !important;
}

.bg-white {
    background-color: #ffffff;
}

.bg-green-light {
    background-color: #25aca3;
}

.bg-gray {
    background-color: #f9f9fa;
}

.bg-lightgray {
    background-color: #f3f3f3;
}

.bg-d1d1d1 {
    background-color: #d1d1d1;
}

.bg-blue {
    background-color: #207adc;
}

.bg-bluelight {
    background-color: #d5deff;
}

.bg-dark {
    background-color: #02010c !important;
}

.bg-gradient {
    /* background: linear-gradient(rgba(55, 62, 70, 0.1),rgba(84, 93, 196, .5)); */
    background: linear-gradient(rgba(55, 62, 70, 0.1), rgba(20, 21, 39, 0.5));
}

.outline-button {
    border: 2px solid #ababab;
    background: white;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    color: #707070;
}

.btn-primary {
    border: 0px;
}

.btn-outline {
    border: 2px solid #207adc;
    background: transparent;
}

.btn-outline.btn-blue {
    border-color: #207adc;
}

.btn-accept {
    color: #040029;
    background-color: #3bc4a4;
}

.btn-accept-outline {
    color: #3bc4a4;
    box-shadow: 0px 0px 0px 3px #3bc4a4 inset;
    border: 0px;
    background-color: white;
}

.btn-decline {
    color: #040029;
    background-color: #ff6464;
}

.btn-decline-outline {
    color: #ff6464;
    box-shadow: 0px 0px 0px 3px #ff6464 inset;
    border: 0px;
    background-color: white;
}

.btn-accept:hover,
.btn-decline:hover,
.btn-decline-outline:hover {
    filter: brightness(95%);
}

.btn-classic {
    color: #13141d;
    background: #207adc;
    border: 1px solid #00a79d;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-weight: bold;
}

.btn-classic:hover,
.btn-classic:active,
.btn-classic.active {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    color: #d6d6d6;
    border-color: #d6d6d6;
}

/* Custom checkbox and radio buttons */

.custom-control-input:checked~.custom-control-label::before {
    background-color: #207adc !important;
}

.line-height-12 {
    line-height: 1.2;
}

.line-height-13 {
    line-height: 1.3;
}

.line-height-14 {
    line-height: 1.4;
}

.line-height-15 {
    line-height: 1.5;
}

.table.no-lines th {
    border-top: 0px;
}

.rounded-10 {
    border-radius: 10px;
}

.border-primary {
    border-color: #207adc !important;
}

.border {
    border-width: 2px !important;
}

.border-thin {
    border-width: 1px !important;
}

.border-thick {
    border-width: 3px !important;
}

/* Fim Utilitarios Plus Bootstrap Style */

.modal-content {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 0px;
}

main.darkmode .modal-content {
    background-color: #1f212e !important;
}

main.darkmode .modal-content .text-dark {
    color: #7e80a2 !important;
}

main.darkmode .modal-content .btn.text-dark {
    color: #13141d !important;
}

main.darkmode .modal-content .form-control {
    background-color: #02010c !important;
}

main.darkmode .modal-content .close {
    color: #fff !important;
}

.back-to-login {
    margin-left: 5%;
    font-size: 20px;
}

.back-to-login>a,
.back-to-login>a:link,
.back-to-login>a:active {
    color: #ffffff;
    text-decoration: none;
}

.back-to-login>a:hover {
    color: #989eb4;
}

/* Admin box */

.admin-box {
    background-color: #f9f9f9;
    padding: 20px;
    max-width: 510px;
    margin: 0 auto;
    border-radius: 10px;
}

.admin-box .form-control,
.admin-box .input-group-text {
    border: 0;
    font-size: 16px;
    background: transparent;
    color: #989eb4;
    padding-top: 10px;
    padding-bottom: 10px;
}

.admin-box>.form-page>.input-group>input {
    border-bottom: 1px solid #e5e7f1;
}

.admin-box .form-control::placeholder {
    /* font-size: 18px; */
    color: #989eb4;
}

.admin-box .signin-button {
    color: #ffffff;
    border-radius: 10px;
    outline: 0;
    border: 0;
    background-color: #207adc;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.admin-box span {
    color: rgba(152, 158, 180, 1);
}

.step-indicator {
    /* padding: 5px 18px; */
    height: 46px;
    width: 46px;
    line-height: 2.5;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
    color: #ababab;
    background-color: #1a97bd;
}

.step-indicator.active {
    background-color: #207adc;
    color: #f3f3f3;
}

.step-indicator.done {
    background-color: #6aff83;
    color: #589f64;
}

.admin-box .custom-select {
    background: #f3f3f3;
    border: 0px;
    padding: 10px 20px;
    text-align: -webkit-left;
    display: block;
    width: 100%;
    color: #707070;
    font-weight: bold;
    height: auto;
    -webkit-appearance: menulist;
}

.admin-box .file-input-area {
    display: block;
    width: 100%;
    border: 4px solid #d1d1d1;
    border-top-style: dashed;
    border-bottom-style: dashed;
    padding: 20px;
    cursor: pointer;
}

.admin-box .file-input-area i {
    font-size: 35px;
}

/* Fim Admin box */

.file-input-area.input-capa {
    position: relative;
    height: 170px;
    background: #e2e2e2;
    border: 0px;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    padding: 30px 0px;
}

.custom-file-area {
    position: relative;
    overflow: hidden;
}

.custom-file-area .custom-file-input {
    top: 0px;
    height: 100%;
    position: absolute;
    left: 0px;
    cursor: pointer;
}

.input-autor {
    background-color: #f3f3f3;
    cursor: pointer;
    min-height: 120px;
    max-height: 20vh;
    overflow-y: auto;
}

.tag-autor {
    color: white;
    background-color: #545454;
    border-radius: 20px;
    display: inline-block;
    margin: 3px 0px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.tag-autor .autor-name {
    color: white;
}

/* Popup */

.pop-up-background {
    top: 0px;
    position: absolute;
    left: 0px;
    background: #0000005e;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s opacity ease-in-out;
}

.pop-up-background.show {
    opacity: 1;
    pointer-events: initial;
}

.pop-up {
    color: #545454;
    background: #f3f3f3;
    border: 1px solid #e4e4e4;
    padding: 20px 30px;
    margin: 20px 0px;
    transition: 1s top cubic-bezier(0.68, -0.55, 0.27, 1.55);
    top: -100vh;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 80vw;
    z-index: 9999;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.pop-up.show {
    top: 0px;
}

.pop-up.show.middle {
    top: 50%;
    transform: translate(-50%, -50%);
}

.pop-up button i {
    color: #545454;
    font-size: 30px;
}

/* Popup Danger */
.pop-up.danger {
    border: 0px;
    color: white;
    background-color: #ff8787;
}

.pop-up.danger button i {
    /* color: #AC1515; */
    color: white;
}

/* Popup Warning */
.pop-up.warning {
    border: 0px;
    color: white;
    background-color: #ffc107;
}

.pop-up.warning button i {
    color: #d3a009;
}

/* Popup Success */
.pop-up.success {
    border: 0px;
    color: white;
    background-color: #63d47c;
}

.pop-up.success button i {
    /* color: #1c7c33; */
    color: white;
}

/* Fim popup */

/* Passowrd Meter */

.password-strength-meter meter {
    margin: 0 auto 1em;
    width: 105px;
    height: 25px;

    background: none;
    background-color: #ababab6b;
}

.password-strength-meter meter::-webkit-meter-bar {
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
}

.password-strength-meter meter[value="1"]::-webkit-meter-optimum-value {
    background: rgb(194, 46, 46);
}

.password-strength-meter meter[value="2"]::-webkit-meter-optimum-value {
    background: rgb(206, 144, 30);
}

.password-strength-meter meter[value="3"]::-webkit-meter-optimum-value {
    background: rgb(247, 226, 41);
}

.password-strength-meter meter[value="4"]::-webkit-meter-optimum-value {
    background: rgb(34, 161, 34);
}

/* Fim Password Meter */

.search-box .form-control,
.search-box .input-group-text {
    border: 0px;
    border-bottom: 3px solid #f3f3f3;
    font-size: 30px;
    font-weight: normal;
}

@media only screen and (max-width: 767.98px) {
    .search-box .form-control {
        font-size: 20px !important;
    }

    .container-fluid{
        margin-top: 1.5rem!important;
        /* margin-left:0!important;  */
        /* margin-right:0!important; */
        /* padding-left:0!important;  */
        /* padding-right:0!important; */
    }

    .search-box .form-control::placeholder {
        font-size: 20px !important;
    }
}

.search-box .form-control::placeholder {
    /* font-size: 18px; */
    font-weight: 300;
    font-style: italic;
    color: #575757;
}

.modal-open .datepicker-dropdown,
.modal-open .datetimepicker {
    transform: translateY(112px);
}

.datetimepicker th.prev::after {
    content: "«";
}

.datetimepicker th.next::after {
    content: "»";
}

tr.clickable {
    cursor: pointer;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05);
}

tr.clickable:hover {
    background: #fbfbfb;
}

.separator-bar {
    background: #999fb4;
    height: 1px;
    margin-top: 11px;
    width: calc(48% - (95px / 2));
}

.separator-bar.bar-left {
    margin-right: 2%;
}

.separator-bar.bar-right {
    margin-left: 2%;
}

.card {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
}

.card .card-img-auto {
    border-radius: 10px 10px 0px 0px;
}

.card .curso-instrutor-header {
    font-weight: bold;
    color: #e6e6e6;
}

.card .curso-instrutor-header .col-8 {
    border: 1px solid white;
    background-color: #4c739d;
}

.card .curso-instrutor-header .col-4 {
    border: 1px solid white;
    /* border-left: 0px; */
    background-color: #60748a;
}

.card .curso-instrutor-header i {
    color: #60748a;
    font-size: 38px;
}

.card .curso-instrutor-header p {
    font-size: 16px;
}

.list-group-item-action {
    font-size: 16px;
    font-weight: normal;
    color: #525870;
    border-bottom: 3px solid #e6e6e6;
    background-color: white;
    border: 0px;
}

main.darkmode .list-group-item,
main.darkmode .list-group-item-action {
    color: white;
    font-weight: normal;
    background-color: transparent !important;
}

main.darkmode .list-group-item.active,
main.darkmode .list-group-item-action.active {
    color: white;
    font-weight: bold;
    background-color: #2992b8 !important;
}

.list-group-item.active,
.list-group-item-action.active {
    background-color: white;
    font-weight: bold;
    color: #207adc;
    border: 0px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.upload-btn-wrapper input[type="file"] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

@media (min-width: 992px) {
    #txtPesquisaPrincipal {
        max-width: 600px !important;
    }
}

/* Summernote styles */
.note-editor.note-frame.fullscreen {
    margin-top: 68px;
    height: calc(100% - 68px);
}


/*.doc-sidebar > .side-group-doc > a > .side-group-item-doc:hover {*/
/*color: #3b3e4f;*/
/*}*/
.side-group-item-doc>div>.request {
    font-size: 0.7rem;
    font-weight: bold;
    margin-right: 15px;
    text-transform: uppercase;
}


/* CSS Luciano */
@media (max-width: 720px) {
    .text-mobile-center {
        text-align: center;
    }
}

.input-search-favoritos {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 2px solid #207adc;
    border-top: 2px solid #207adc;
    border-bottom: 2px solid #207adc;
    border-right: 0;
    background: transparent;
    padding: 5px 15px;
    margin-right: 0 !important;
}

.input-search-favoritos::-webkit-input-placeholder {
    color: #207adc;
}

.icon-search-favoritos {
    background: transparent;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right: 2px solid #207adc;
    border-top: 2px solid #207adc;
    border-bottom: 2px solid #207adc;
    border-left: 0;
    padding: 5px 15px;
    margin-left: 0 !important;
    color: #207adc;
    cursor: pointer;
}

.icon-favs-bg {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #207adc;
    position: absolute;
    z-index: 1;
    right: 20px;
    bottom: 20px;
}

.favoritos-thumb-content {
    width: 180px;
    height: 180px;
    overflow: hidden;
}

@media (max-width: 640px) {
    .favoritos-thumb-content {
        width: 100%;
    }

    .favoritos-thumb-img {
        width: 100%;
    }
}

.favoritos-thumb-img {
    z-index: 0;
    height: 100%;
    position: relative;
}

.canais-avatar {
    margin: 0 auto 10px;
    width: 180px;
    height: 180px;
    background-color: #00a79d;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    border-radius: 90px;
    overflow: hidden;
    text-align: center;
}

.cards-plano-estudo {
    width: 100%;
    min-height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 10px;
}

.progress {
    border-radius: 10px;
}

.box-habilidades {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.box-habilidades-container {
    padding: 20px;
}

.box-habilidades-container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-habilidades-bar {
    margin: 10px auto 0;
}

.box-habilidades-bar>.progress-main {
    height: 25px;
}

.box-habilidades-bar>.progress>.progress-bar-main {
    background-color: #207adc;
}

.box-habilidades-sub-container {
    border-top: 0.5px solid #e2e2e2;
    margin: 20px 60px;
    padding: 10px
}

.box-habilidades-bar>.progress>.progress-bar-sub {
    background-color: #9e5aa8;
}

.code-api {
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #373737;
    overflow: hidden;
}

.code-api-content {
    margin-top: 10px;
    background-color: #2d2d2d;
    padding: 20px;
    color: #ffffff;
    font-family: "Courier New", sans-serif;
}

.box-code-input {
    width: 100%;
    font-family: "Courier New", sans-serif;
    margin-top: 10px;
    padding: 10px;
    background-color: #f5f6f5;
    border: 1px solid #f1f2f1;
    color: #838184;
    font-size: 0.8rem;
    overflow: hidden;
}



/*.alert {
    bottom: 20%;
    right: 0;
    border: 0;
    border-radius: 0;
    position: fixed;
    z-index: 9;
    display: block;
    min-width: 300px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.alert-error {
    background-color: #880a00;
    color: #ffffff;
}

.alert-error ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}*/

#header {
    position: fixed;
    top: 0;
    margin: 0;
    width: 100%;
    height: 72px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
}

#header .logo-toggle {
    width: 282px;
    display: flex;
    justify-content: space-around;
}

#header a.icon-bars {
    color: #207adc;
}

#header a.icon-bars:hover {
    color: #207adc;
}

#header .logomarca {
    width: 94px;
    color: #ffffff;
}

#header .search>.input-search {
    width: 497px;
    height: 35px;
    background-color: #1f212e;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header .search>.input-search>i {
    color: #207adc;
    margin-right: 12px;
    width: 13px;
    height: 13px;
}

#header .search>.input-search>input {
    width: 440px;
    background: transparent;
    border: 0;
    color: #ffffff;
}

#header .search>.input-search>input::placeholder {
    color: #989ac1;
    font-size: 13px;
}

#header .avatar-toggle {
    margin-right: 71px;
    display: flex;
    align-items: center;
}

#header .avatar {
    width: 34px;
    height: 34px;
    margin-right: 12px;
}

#header a.icon-caret-down {
    color: #1dc7f1;
}

#header a.icon-caret-down:hover {
    color: #207adc;
}

.search-glossario {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #60748a;
    padding-bottom: 20px;
    margin-bottom: 35px;
}

.search-glossario>input::placeholder {
    color: #60748a;
}

.search-glossario>input {
    width: 100%;
    border: 0;
    background-color: transparent;
    font-size: 25px;
    color: #ffffff;
    font-style: italic;
}

.search-glossario>button {
    border: 0;
    background-color: transparent;
}

.search-glossario>button>i {
    color: #60748a;
    font-size: 25px;
}

h2.title-main {
    font-size: 17px;
    color: #60748a;
    margin-bottom: 35px;
}

.words-container {
    margin-bottom: 63px;
}

.words-container>ul {
    list-style: none;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.words-container>ul>a {
    text-decoration: none;
    color: #207adc;
}

.words-container>ul>a>li {
    width: 43px;
    height: 36px;
    border: 1px solid #207adc;
    border-radius: 5px;
    text-align: center;
    line-height: 36px;
    font-size: 13px;
    margin-bottom: 15px;
}

.words-container>ul>a>li:hover {
    background-color: #207adc;
    color: #ffffff;
}

.words-container>ul>a>li.active {
    background-color: #207adc;
    color: #ffffff;
}

.words-description-container>div.words-description-box {
    margin-bottom: 40px;
}

.words-description-container>div.words-description-box {
    margin-bottom: 40px;
}

div.words-description-box>p.title {
    font-size: 17px;
    color: #60748a;
}

div.words-description-box>p.description {
    font-size: 14px;
    color: #60748a;
    text-align: justify;
}

.form-admin>.form-group>input,
.form-admin>.form-group>textarea {
    background-color: #3b3e4f;
    border: 0;
    color: #989ac1;
}

.form-admin>.form-group>button {
    background-color: #3b3e4f;
    color: #ffffff;
}

.form-admin>.form-group>button:hover {
    background-color: #4f5263;
    color: #ffffff;
}

/* Fim css luciano */

/* CSS Agenda */

#calendar
{
    width: 100%;
}

.fc-today
{
    background: #e8e7f0 !important;
}

.fc-day-header
{
    min-height: 120px;
    line-height: 120px;
    background-color: #F3F3F3;
    color: #207adc;
    font-size: 1.5rem;
    text-transform: uppercase;
    box-shadow: 0 4px 4px -1px #999FB4;
}

th.fc-axis
{
    background-color: #F3F3F3;
}

td.fc-time
{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    color: #999FB4;
    font-size: 1.0rem;
}

.fc-axis.fc-time.fc-widget-content
{
    font-weight: bold;
}

.fc-time-grid-event.fc-v-event.fc-event.fc-start.fc-end
{
    margin: 5px;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 5px 6px rgba(0,0,0,0.16);
    border: 0px;
}

/* Fim CSS Agenda */


/* CUSTOM CHECKBOX */
.span_pseudo, .chiller_cb span:before, .chiller_cb span:after {
    content: "";
    display: inline-block;
    background: #fff;
    width: 0;
    height: 0.2rem;
    position: absolute;
    transform-origin: 0% 0%;
  }

  .chiller_cb {
    position: relative;
    height: 2rem;
    display: flex;
    align-items: center;
  }
  .chiller_cb input {
    display: none;
  }
  .chiller_cb input:checked ~ span {
    background: #207adc;
    border-color: #1e66b5;
  }
  .chiller_cb input:checked ~ span:before {
    width: 1rem;
    height: 0.15rem;
    transition: width 0.1s;
    transition-delay: 0.3s;
  }
  .chiller_cb input:checked ~ span:after {
    width: 0.4rem;
    height: 0.15rem;
    transition: width 0.1s;
    transition-delay: 0.2s;
  }
  .chiller_cb input:disabled ~ span {
    background: #ececec;
    border-color: #dcdcdc;
  }
  .chiller_cb input:disabled ~ label {
    color: #dcdcdc;
  }
  .chiller_cb input:disabled ~ label:hover {
    cursor: default;
  }
  .chiller_cb label {
      width:100%;
    padding-left: 2rem;
    position: relative;
    z-index: 2;
    cursor: pointer;
    margin-bottom:0;
    color:#2C3640;
    font-weight:500;
  }
  .chiller_cb span {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    border: 2px solid #ccc;
    position: absolute;
    left: 0;
    transition: all 0.2s;
    z-index: 1;
    box-sizing: content-box;
  }
  .chiller_cb span:before {
    transform: rotate(-55deg);
    top: 1rem;
    left: 0.37rem;
  }
  .chiller_cb span:after {
    transform: rotate(35deg);
    bottom: 0.35rem;
    left: 0.2rem;
  }
  /* */

.content-mural-escola img{
    max-width: 100%!important;
    height: auto!important;
    /* overflow: hidden; */
}

.input-buscar{
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
}

